server:
  port: 8081
spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://114.242.206.180:25776/lsx?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: mysql2022
    type: com.alibaba.druid.pool.DruidDataSource
  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true
      additional-paths: src/test/java
      additional-exclude: templates/**
    livereload:
      enabled: true
    
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  
  



  # mapper-locations: classpath*:mapper/**/*Mapper.xml  #注意：一定要对应mapper映射xml文件的所在路径
  #type-aliases-package: com.css.sword.pojo  # 注意：对应实体类的路径
